html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.6rem;
}

.ins-outs {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

input,
button {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

section {
  flex: 1 1 50%;
  padding: 2rem;
}

list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
